# GUI client -> TCP server
APP_SERVER_HOST=
APP_SERVER_PORT=

# TCP server -> MySQL
APP_DB_HOST=
APP_DB_PORT=3306
APP_DB_USER=root
APP_DB_PASSWORD=
APP_DB_NAME=
APP_TLS_CERT_PFX_PATH=C:/Users/ADMIN/Desktop/CSAT_BMTT_Project-main/certs/server-test.pfx
APP_TLS_CERT_PFX_PASSWORD=csat-test-123!
