# GUI client -> TCP server
APP_SERVER_HOST=
APP_SERVER_PORT=

# TCP server -> MySQL
APP_DB_HOST=
APP_DB_PORT=3306
APP_DB_USER=root
APP_DB_PASSWORD=
APP_DB_NAME=

# Blowfish key for data stored in DB
APP_BLOWFISH_KEY=

# Shared login key used by GUI client and server for Blowfish login encryption
APP_LOGIN_BLOWFISH_KEY=
